@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

html,
body {
  background-color: #ffffff !important;
  color: #374151 !important;
}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #ffffff, #f9fafb) !important;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

::-webkit-scrollbar {
  display: none;
}
